language: julia
os:
  - linux
  - osx
julia:
  - 0.4
  - nightly
notifications:
  email: false
before_install:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
script:
  - julia --check-bounds=yes -e 'Pkg.clone("https://github.com/andreasnoack/IterativeLinearSolvers.jl")'
  - julia --check-bounds=yes -e 'Pkg.clone(pwd())'
  - julia --check-bounds=yes -e 'Pkg.test("ToeplitzMatrices"; coverage=true)'
after_success:
  - julia -e 'cd(Pkg.dir("ToeplitzMatrices")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
